
.list-input {
	border-width: 1px;
	border-radius: 4px;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.23);
	position: relative;
	padding-bottom: 18px;
	padding-left: 14px;
	padding-right: 14px;
}

.list-input.dense {
	margin-top: 16px;
	margin-bottom: 8px;
}

.list-input:hover {
	border-color: #000000;
}

.list-input:focus {
	border-color: var(--primary);
	border-width: 2px;
}

.list-input:focus-within {
	border-color: var(--primary);
	border-width: 2px;
	padding-left: 13px;
	padding-right: 13px;
	padding-bottom: 17px;
	margin-top: -1px;
}

.list-input-label {
	display: flex;
	width: fit-content;
	padding-left: 6px;
	padding-right: 6px;
	margin: 0 0 0 -20px;
	transform: translate(14px, -6px) scale(0.75);
	transform-origin: top left;
	z-index: 1;
	background-color: #ffffff;
	color: rgba(0, 0, 0, 0.54);
	font-size: 1rem;
	font-weight: 400;
	line-height: 1;
	letter-spacing: 0.00938em;
}
