.recipe-detail {
	margin-left: 1rem;
	margin-right: 1rem;
}

.recipe-detail-header {
	display: flex;
}

.recipe-detail-header-actions {
	margin-left: auto;
}

.recipe-detail-ingredients-header {
	margin-top: 1rem !important;
}

.recipe-detail-ingredients-list {
	margin-top: 0.25rem;
	padding-left: 1em;
}
